.container {
  background: linear-gradient(#64c4ed, #4f81c7);
  border-radius: 10%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: auto;
}
#topbar {
  text-align: center;
  margin: auto;
  padding: auto;
  padding-top: 20px;
}
#main {
  text-align: left;
  padding-top: 30px;
}
#cards {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 5% 10%;
}
.search {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border: #64c4ed;
  margin: 15px;
}
.findcity {
  font-size: 10px;
  background-color: #4f81c7;
  color: #ffff;
  border-radius: 50%;
  border: 2px solid #64c4ed;
  padding: 15px;
}
.findcity:hover {
  background-color: #f0d78c;
  color: #4f81c7;
}
.save {
  font-size: 10px;
  background-color: #4f81c7;
  color: #ffff;
  border-radius: 50%;
  border: 2px solid #64c4ed;
  padding: 15px;
}
.save:hover {
  background-color: #f0d78c;
  color: #4f81c7;
}
.text {
  padding: 0 20px;
}
.headline {
  font-size: 20px;
}
.headtemp {
  font-size: 16px;
}
.advice {
  font-size: 16px;
}
.card-img-top {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
.please {
  max-width: 50%;
  position: relative;
  left: 50%;
}
